form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    color: var(--bold-text);
}
Input, textarea{
    padding: 1rem;
    border-radius: var(--border-radius);
    border:.5px solid var(--border-color);
    width: 100%;
    background-color: white;
    color: var(--text-color);
}
button{
    padding: 1rem;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #007BFF;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
button:hover{
    opacity: 0.7;
}