.my_project {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--white);
    padding: 5px;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px rgba(0,0,0,0.1);
    border: .5px solid var(--border-color);
}

.my_project .my_project_up_div {
    padding: 5rem;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid var(--border-color);
}

.my_project_up_div .project_icon_div {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}

.my_project .project_text {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 768px) {
    .my_project_up_div {
        height: 11rem;
    }
}